* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background-color: rgb(223, 223, 223);
    height: 500px;
    width: 360px;
    box-shadow: 10px 10px 20px rgb(122, 122, 122) , -5px -5px 40px rgb(201, 201, 201) ;
    padding: 55px 0 20px 0;
    text-align: center;
}
.username svg , .password svg {
    height: 35px;
    padding-top: 13px;
    /* animation: armin 5s infinite; */
    margin-right: 7px;
}
.logo {
    background: url(./images/OIP.jpg);
    background-size: contain;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
    /* animation: armin 1.5s ease-in-out; */
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(161, 161, 161) , -5px -3px 25px rgb(207, 207, 207);
}
.logo:hover {
    animation: armin 1.5s ease-in-out;
}
.title {
    padding: 35px 0 30px 0;
    font-size: 40px;
    font-weight: 550;
    color: rgb(28, 138, 123);
    display: inline-block;
    cursor: pointer;
    animation: title 20s ease-in-out;
}
.username {
    margin-bottom: 20px;
}
.username input , .password input{
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    padding: 9px 0 9px 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.username input:hover , .password input:hover {

    box-shadow: rgba(87, 86, 86, 0.3) 0px 30px 60px -12px inset, rgba(87, 86, 86, 0.3) 0px 18px 36px -18px inset;}
.password {
    margin-bottom: 35px;
}
.footer a {
    color: rgb(138, 138, 138);
}
.footer a:hover {
    color: rgb(99, 99, 99);
}
.footer {
    font-weight: 540;
}
.button {
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    background-color: rgb(28, 138, 123);
    color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 3px 15px rgb(161, 161, 161) , -5px -3px 25px rgb(207, 207, 207);
}
.button:hover {
    /* transition: all 1s ease-in-out; */
    background-color: rgb(21, 100, 90);
    box-shadow: 6px 6px 15px rgb(133, 133, 133) , -5px -3px 25px rgb(207, 207, 207);
}
@keyframes armin {
    100% {
        transform: rotate(360deg) ;
    }
}
@keyframes title {
    25% {
        color: rgb(69, 131, 8);
    }
    50% {
        color: rgb(21, 100, 90);
    }
    75% {
        color: rgb(69, 131, 8);
    }
    100% {
        color: rgb(21, 100, 90);
    }
}
input , .footer a {
    transition: all 0.3s ease-in-out;
}